<div class="pricing-5 section-white-to-gray footerContainer" id="pricing-5">
  <div class="container">
     <div class="content">
        <div class="row">
           <div class="col-md-4 hidden-xs">
              <ul class="links-vertical">
                 <br>
                 <img class="img-responsive" src="assets/img/logo.png">
                 <br />
                 <p style="text-align:justify"> ELEGANT LIFE is an IoT Technology Start-up based in Singapore with a development centre in India. At ELEGANT LIFE, we are passionate about developing next generation Automation Solutions for wide range of applications. We also provide Machine Learning as a Service and offer our IOT Platform for third party device integration.
                 </p>
              </ul>
           </div>
           <div class="col-md-4 hidden-xs">
              <ul class="links-vertical">
                 <h4>We are Here</h4>
                 <li class="info-address">
                    <i class="fas fa-map-marker-alt"></i> No.21H RT.010 RW.017,<br/>
                    Kayu Puthi Pulo Gadung,<br/>
                    Jakarta Timur Dki Jakarta
                 </li>
                 <li><br/></li>
                 <li>
                    <i class="fas fa-envelope"></i>  <span>
                    info@elegantlife.com
                    </span>
                 </li>
                 <li><br/></li>
                 <li>
                    <i class="fas fa-phone-volume"></i> <span>
                    +65 - 8233 6313
                    </span>
                 </li>
              </ul>
           </div>
           <!--
           <div class="col-md-4 hidden-xs">
              <ul class="links-vertical">
                 <h4>QUICK LINKS</h4>
                 <li>
                    <a href="/home" target="_blank">
                    Home
                    </a>
                 </li>
                 <li>
                    <a href="/about" target="_blank">
                    About Us
                    </a>
                 </li>
                 <li>
                    <a href="/product" target="_blank">
                    Products
                    </a>
                 </li>
                 <li>
                    <a href="/services" target="_blank">
                    Services
                    </a>
                 </li>
                 <li>
                    <a href="/contact" target="_blank">
                    Contact Us
                    </a>
                 </li>
              </ul>
           </div>
          -->
        </div>
     </div>
  </div>
</div>