<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/examples/card-blog4.jpg'); height:400px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left">
                    <h2 class="title">Smart Home Packages</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container productContainer">
    <div class="row">
	<br/> <br/>
        <div class="card">
	  <img src="" class="card-img-top" alt="">
	  <div class="card-body" id="homesecurity">
	    <h3 class="card-title">Home Security</h3>
	    <h4 class="card-text">An advanced, fool-proof, affordable and state-of-the-art home security system that caters to all your security needs at home. The system provides security 24/7 and alerts you instantly when an abnormal behavior is noticed. With a quick response time and always accessible applications to access every corner of your house, you do not need look towards any other application. The entire system is easy-to-install and easy-to-use. The prices start from $200 depending upon the overall size of the house and the locations it needs to be installed.</h4>
	    
	  </div>
	</div>
        
    </div>

<div class="row">
	<br/> <br/>
        <div class="card">
	  <img src="" class="card-img-top" alt="">
	  <div class="card-body" id="homeautomation">
	    <h3 class="card-title">Home Automation</h3>
	    <h4 class="card-text">Almost every electrical appliance at your home can be integrated with our system. With a touch of a button on our application, our AI-based system will automatically detect various consumer-based devices at home and sync with it. Being easily customizable, you can tune it according to your needs. Extremely affordable compared to other devices in the market, we ensure outstanding support and updates with no compromise on quality. The prices start from $600 dollars and can increase depending upon the number of devices that needs to be integrated.</h4>
	    
	  </div>
	</div>
        
    </div>

<div class="row">
	<br/> <br/>
        <div class="card">
	  <img src="" class="card-img-top" alt="">
	  <div class="card-body" id="securitycameras">
		
	    <h3 class="card-title">Security Cameras</h3>
		
	    <h4 class="card-text">Our sophisticated yet easy-to-use security cameras come with jam-packed features. They offer High-Definition quality recordings at all times and can be stored at our fully secure servers. The recorded videos are accessible anytime and anywhere through our applications. The cameras offer 270 degrees viewing capabilities with every action within the vicinity captured to every detail. Our customers have a wide array of cameras to choose based on their house needs. The prices start from $299 and can increase depending upon the number of cameras that need to be installed.</h4>
	    
	  </div>
	</div>
        
    </div>

</div>
