<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/aboutus.jpg'); height:400px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <!--<h2 class="title">About us</h2>
             <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects-4" id="projects-4">

		<div class="container">
			<div class="row">

				<div class="col-md-5 col-md-offset-1">

					<div class="info info-horizontal">
						<div class="description">
              <h2 class="" style="text-align:center;">ELEGANT LIFE</h2>
              <h3 class="visible-lg visible-md hidden-sm" style="text-align:center;">YOUR AUTOMATION PARTNER</h3>

		<p class="description" style="text-align:justify;">
                ELEGANT LIFE has a wide range of automation solutions catering to different purposes. The solutions are easily adaptable across different kinds of buildings, industries and cities. All our products have been carefully designed and engineered to ensure affordability, customizability and expandability.
              </p>
						</div>
					</div>
				</div>

				<div class="col-md-5">
          <img class="img img-responsive img-raised" src="assets/img/home-auto/about-1.jpg" alt="">
        </div>     
			</div>

		</div>
	</div>

  <div class="team-1" id="team-1">

      <div class="container">

        <h2 class="visible-lg visible-md hidden-sm text-center">Our Team</h2>
        <br/>
  
        <div class="row">
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/marc.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Alec Thompson</h4>
                <h6 class="category text-muted">CEO / Co-Founder</h6>
  
                <p class="card-description">
                  And I love you like Kanye loves Kanye. We need to restart the human foundation.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/kendall.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Tania Andrew</h4>
                <h6 class="category text-muted">Designer</h6>
  
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation. And I love you like Kanye loves Kanye.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/christian.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Christian Mike</h4>
                <h6 class="category text-muted">Developer</h6>
  
                <p class="card-description">
                  I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="assets/img/faces/avatar.jpg">
                </a>
              </div>
  
              <div class="card-content">
                <h4 class="card-title">Rebecca Stormvile</h4>
                <h6 class="category text-muted">Client Manager</h6>
  
                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation.
                </p>
                <div class="footer">
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>

