.logo {
    width: 14rem;
    padding-top: 1rem;
    /* border-radius: 16px 16px 6px 9px !important; */
}
.active {
	background:#bfa75d !important;
	
}

@media(max-width:768px) {
    .logo {
        margin-left: 2rem;
    }
    
}
/* @media(min-width:567px) and (max-width:768px) {
    .logo {
        margin-left: 3rem;
    }
    
} */
