<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/automationsolutions.jpg'); height:400px;">
       <div class="container">
          <div class="row">
             <div class="col-md-12 text-left">
                <h2 class="title">Products</h2>
             </div>
          </div>
       </div>
    </div>
 </div>
 <br/>
 <div class="container productContainer">
    <div class="row">
            <div class="col-md-2 col-sm-2">
                <br/>
            </div>
            <div class="col-md-8 col-sm-8">
                    <iframe src="https://www.youtube.com/embed/_UgxxZoPTE4" height="400px" width="100%" allowfullscreen="true"> </iframe>
            </div>
            <div class="col-md-2 col-sm-2">
                <br/>
            </div>
            
    </div>
</div>
 <div class="container productContainer">
    <div class="row">
       <div class="col-md-4 col-sm-4">
          <div class="card-content content-primary">
             <img height="300px" width="300px" id="img1" src="assets/img/product/macho.jpg">
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img2" src="assets/img/product/micro.jpg">
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img3" src="assets/img/product/macho2.jpg">
          </div>
       </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img4" src="assets/img/product/macho2.jpg">
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img5" src="assets/img/product/doorbell.png">
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img6" src="assets/img/product/gesturesensor.png">
          </div>
       </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img7" src="assets/img/product/motionsensor.png">
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img8" src="assets/img/product/intelligentcamera.png">
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <img height="300px" width="300px" id="img9" src="assets/img/product/panicbutton.png">
          </div>
       </div>
    </div>
    <div class="pricing-5 section-white" id="pricing-5">
       <div class="container">
          <div class="row">
             <h5 class="text-center">Choose Your Plan</h5>
             <h2 class="visible-lg visible-md hidden-sm text-center">Smart Home Packages</h2>
             <h4 class="hidden-lg hidden-md text-center">Smart Home Packages</h4>
             <div class="col-md-4">
                <div class="card card-pricing card-raised">
                   <div class="card-content">
                      <h6 class="category">From</h6>
                      <h1 class="card-title">
                         <small>IDR</small>200.000
                      </h1>
                      <ul>
                         <li>
                            <h4>EEL Home Safe Home</h4>
                         <li>
                            A smart home with basic security features enabled
                         </li>
                      </ul>
                      <a routerLink='/smarthomepackages' class="btn btn-primary btn-round">
                      INFO
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="card card-pricing card-raised">
                   <div class="card-content">
                      <h6 class="category">From</h6>
                      <h1 class="card-title">
                         <small>IDR</small>500.000
                      </h1>
                      <ul>
                         <li>
                            <h4>EEL Ultra Smart</h4>
                         <li>Ultra Smart Home equipped with all security features</li>
                      </ul>
                      <a routerLink='/smarthomepackages' class="btn btn-primary btn-round">
                      INFO
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="card card-pricing card-raised">
                   <div class="card-content">
                      <h6 class="category">From</h6>
                      <h1 class="card-title">
                         <small>IDR</small>1.000.000
                      </h1>
                      <ul>
                         <li>
                            <h4>EEL Luxe</h4>
                         <li>Ultimate in Smart Home Luxury. Extreme sophistication and security</li>
                      </ul>
                      <a routerLink='/smarthomepackages' class="btn btn-primary btn-round">
                      INFO
                      </a>
                   </div>
                </div>
             </div>
             <div class="col-md-12 text-center">
                <a href="/contact" target="_blank">
                <button class="btn btn-primary btn-round">
                Request a Quote
                </button>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>