<div class="header-2">
    <div class="page-header header-filter" style="background-image: url('assets/img/automationsolutions.jpg'); height:400px;">
       <div class="container">
          <div class="row">
             <div class="col-md-12 text-left">
                <h2 class="title">Products</h2>
             </div>
          </div>
       </div>
    </div>
 </div>
 <br/>
 <div class="container productContainer">
    <div class="row">
            <div class="col-md-2 col-sm-2">
                <br/>
            </div>
            <div class="col-md-8 col-sm-8">
                    <iframe src="https://www.youtube.com/embed/_UgxxZoPTE4" height="400px" width="100%" allowfullscreen="true"> </iframe>
            </div>
            <div class="col-md-2 col-sm-2">
                <br/>
            </div>
            
    </div>
</div>
 <div class="container productContainer">
    <div class="row">
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
             <h3>Macho</h3>
             <img height="300px" width="300px" id="img1" src="assets/img/product/macho.jpg">
             <caption>
               <ul>
              <li>Heart of ELEGANTE Smart Home. Orchestrates & Controls functioning of all utilies</li>
              <li>Linux / Android based System, Internal Storage (up to 32GB)</li>
              <li>Wi-Fi connectivity (802.11 a/b/g),Bluetooth 4.0,USB, HDMI ports Inbuilt Power supply, SSL encryption</li>
              <li>Loaded with Alai Cloud Connectivity API</li>
              <li>General purpose digital ports for any sensor interface (SPI/I2C)</li>
            </ul>
            </caption>
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
               <h2>Micro</h2>
             <img height="300px" width="300px" id="img2" src="assets/img/product/micro.jpg">
             <caption>
              <ul>
              <li>Wireless module that can control 2-3 devices</li>
              <li>Low memory foot print</li>
              <li>AES Based Encrypted system</li>
              <li>BLE (2.4Ghz) operation frequency</li>
              <li>Inbuilt Power supply, Analogue / Digital ports for any sensor interface</li>
              </ul>
            </caption>
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
               <h2>Mini</h2>
             <img height="300px" width="300px" id="img2" src="assets/img/product/macho2.jpg">
             <caption>
              <ul>
              <li>Wireless module used to provide longer range</li>
              <li>Sub 1Ghz and BLE (2.4Ghz) operation frequency, with external Antenna.</li>
              <li>AES Based Encrypted system</li>
              </ul>
            </caption>
          </div>
       </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="card-content">
                 <h2>BLU</h2>
               <img height="300px" width="300px" id="img2" src="assets/img/product/blue.jpg">
               <caption>
                <ul>
                <li>Wireless module based on Bluetooth Technology</li>
                <li>Very small form factor</li>
                <li>AES Based Encrypted system</li>
                <li>BLE (2.4Ghz) operation Frequency</li>
                <li>Battery operated</li>
                </ul>
              </caption>
            </div>
         </div>       <div class="col-md-4 col-sm-4">
          <div class="card-content">
               <h2>Smart Door bell</h2>
             <img height="300px" width="300px" id="img5" src="assets/img/product/doorbell.png">
             <caption>
                <ul>
                    <li>Lets you answer your visitors even when you are away </li>
                    <li>Mobile App Integrated</li>
                    <li>FHD Camera</li>
                    <li>Voice Integrated</li>
                    </ul> 
              </caption>
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
               <h2>Gesture sensor</h2>
             <img height="300px" width="300px" id="img6" src="assets/img/product/gesturesensor.png">
             <caption>
                <ul>
                    <li>Enables you to control speed of fan or AC Temperature using hand gestures</li>
                    <li>ToF based module</li>
                    <li>Identifies up to 4 types of gesture</li>
                    <li>AC input</li>
                   <li>BLE module integrated</li>
                    </ul>       
              </caption>
          </div>
       </div>
    </div>
    <div class="row"><br/></div>
    <div class="row">
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
               <h2>Motion sensor</h2>
             <img height="300px" width="300px" id="img7" src="assets/img/product/motionsensor.png">
             <caption>
                <ul>
                    <li>Your Personal Security. Senses any suspicious movement at home when you are away</li>
                    <li>Infra Red based</li>
                    <li>Integrated with ELEGANTE Platform</li>
                    <li>Very long battery life</li>
                    </ul> 
              </caption>
          </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
               <h2>Intelligent camera</h2>
             <img height="300px" width="300px" id="img8" src="assets/img/product/intelligentcamera.png">
             <caption>
                <ul>
                    <li>360 Degree Camera with Inbuilt Artificial Intelligence</li>
                    <li>Recognizes objects</li>
                    <li>Integrated with ELEGANTE Platform</li>
                    <li>Can be used in high-end image based security applications</li>
                    </ul> 
              </caption>
            </div>
       </div>
       <div class="col-md-4 col-sm-4">
          <div class="card-content">
            <h2>Smart Voice Module</h2>
             <img height="300px" width="300px" id="img9" src="assets/img/product/panicbutton.png">
             <caption>
                <ul>
                    <li>Use built-in commands to control your home without connecting to Internet</li>
                    <li>100 Pre- trained Commands</li>
                    <li>5-10 meter range</li>
                    </ul> 
              </caption> 
          </div>
       </div>
    </div>
    <div class="pricing-5 section-white" id="pricing-5">
       <div class="container">
          <div class="row">
             <h5 class="text-center">Choose Your Plan</h5>
             <h2 class="visible-lg visible-md hidden-sm text-center">Smart Home Packages</h2>
             <h4 class="hidden-lg hidden-md text-center">Smart Home Packages</h4>
             <div class="col-md-4">
                <div class="card card-pricing card-raised">
                   <div class="card-content">
                      <h6 class="category">From</h6>
                      <h1 class="card-title">
                         <small>IDR</small>200.000
                      </h1>
                      <ul>
                         <li>
                            <h4>EEL Home Safe Home</h4>
                         <li>
                            A smart home with basic security features enabled
                         </li>
                      </ul>
                      <!--<a routerLink='/smarthomepackages' class="btn btn-primary btn-round">
                      INFO
                      </a> -->
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="card card-pricing card-raised">
                   <div class="card-content">
                      <h6 class="category">From</h6>
                      <h1 class="card-title">
                         <small>IDR</small>500.000
                      </h1>
                      <ul>
                         <li>
                            <h4>EEL Ultra Smart</h4>
                         <li>Ultra Smart Home equipped with all security features</li>
                      </ul>
                      <!--<a routerLink='/smarthomepackages' class="btn btn-primary btn-round">
                      INFO
                      </a> -->
                   </div>
                </div>
             </div>
             <div class="col-md-4">
                <div class="card card-pricing card-raised">
                   <div class="card-content">
                      <h6 class="category">From</h6>
                      <h1 class="card-title">
                         <small>IDR</small>1.000.000
                      </h1>
                      <ul>
                         <li>
                            <h4>EEL Luxe</h4>
                         <li>Ultimate in Smart Home Luxury. Extreme sophistication and security</li>
                      </ul>
                      <!-- <a routerLink='/smarthomepackages' class="btn btn-primary btn-round">
                      INFO
                      </a> -->
                   </div>
                </div>
             </div>
             <div class="col-md-12 text-center">
                <a href="/contact" target="_blank">
                <button class="btn btn-primary btn-round">
                Request a Quote
                </button>
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>