<div class="header-2">
  <div class="page-header header-filter" style="background-image: url('assets/img/services.jpg');height:400px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <h2 class="title">Services</h2>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-4 vertical-align">
          <img id="img1" class="img-responsive" src="assets/img/bfsisolutions.jpg">
      </div>
      <div class="col-md-8">
        <h5 class="text-center">Banking & Financial Solutions</h5>
        <h6 class="visible-lg visible-md hidden-sm text-center">We have partnered with a Top BFSI Company to provide technology solutions for all major banks in Indonesia. Incase you are looking for solutions in the following areas, please let us help you</h6>
        <ul>
          <li>1. Digital transaction banking </li>
          <li>2. Collection and receivables</li>
          <li>3. Commercial risk</li>
          <li>4. Trade and supply chain finance</li>
          <li>5. Internet banking for all products</li>
          <li>6. Global deposit manager</li>
          <li>7. Liquidity management solution</li>
          <li>8. Lending</li>
          <li>9. Wealth management </li>
          <li>10. Treasury</li>
        </ul>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
          <img style="vertical-align: center" id="img1" class="img-responsive" src="assets/img/educationservices.jpg">
      </div>
      <div class="col-md-8">
        <h5 class="text-center">Educational Services</h5>
        <h6 class="visible-lg visible-md hidden-sm text-center">Our education division is collaborating with a hugely successful kinder garten chain in south india to provide premium education content to kids in Indonesia. In case you are looking for partnerships / franchises please do not hesitate to contact us. Our aim is to make english learning fun by connecting kids in a new age of literacy through</h6>
        <ul>
          <li>1. Phonics </li>
          <li>2. Grammar</li>
          <li>3. Cambridge Young Learners English</li>
          <li>4. Reading</li>
          <li>5. Story Telling</li>
          <li>6. Global deposit manager</li>
          <li>7. Spelling</li>
          <li>8. Fluency</li>
          <li>9. Social Skills</li>
          <li>10. Oral Language Development</li>
        </ul>
      </div>
    </div>
</div>
