<div class="header-3">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="page-header header-filter" style="background-image: url('assets/img/home/slide-1.jpg');height: 450px;;">

            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h3>ADVANCED
                    <br>AUTOMATION<br>
                    SOLUTIONS</h3>
                  <div class="childhead">
                      <span>SMART   |   SECURE   |   AFFORDABLE</span>
                      <br/><br/>
                  <div class="buttons">
                      <a href="#pablo" class="btn btn-primary btn-lg">
                      Help me Automate
                    </a>
                  </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
 <div class="projects-4 section-white" id="projects-4">

		<div class="container helpLine">
 
  <div class="container helpLine">
      <div class="row text-center">
            <!--<h3><span style='border:2px black solid; font-size:42px;'>OUR SOLUTIONS</span></h3>-->
		<h2 class="info-title">WHAT WE DO</h2><br/>
                <div class="col-md-4">
	            <img class="img img-responsive" src="assets/img/home/homeautomation.jpg"/>
                      <h4 class="info-title">HOME AUTOMATION</h4>
                      <!--<p>You deserve a home that is smart& energy efficient. Our Home Automation solutions complement your busy lifestyle. You could carry on with your work fully sure that everything is fine at home. Be it switching off the geyser or turning on the Aircon – its all at your finger tips. Launch the ELEGANT LIFE Home Automation app and control all the critical appliances and lighting in your home.</p>-->
<p style="text-align:justify">Smart homes are energy efficient. They allow you to concentrate on the work and worry less about the security of your home. All the critical appliances are monitored through our <b>ELEGANT LIFE Home Automation</b> solution that is available on your smartphone or voice assistants.</p>
                  </div>
          
                  <div class="col-md-4">
	            <img class="img img-responsive" src="assets/img/home/buildingautomation.jpg"/>
                      <h4 class="info-title">BUILDING AUTOMATION</h4>
<!--<p>Facility Management could be a challenge in medium and large buildings. ELEGANT LIFE Smart Building Solution helps to automate, monitor and control lighting, water supply, fire safety, etc,. With our SmartBuilding control app, you are now free to move around anywhere in the building and still keep a tab on what is going on.</p>-->

<p style="text-align:justify">Managing energy efficiency in large buildings are a challenge. Energy management of the entire building irrespective of the size could be effectively and efficiently managed through our <b>ELEGANT LIFE Smart Building</b> solution. Heating, Air Conditioning, Ventilation, Electricity, Water supply, Fire safety and many more could be monitored easily through our solution.</p>                   
                  </div>
          
                  <div class="col-md-4">
	            <img class="img img-responsive" src="assets/img/home/retailautomation.jpg"/>
                      <h4 class="info-title">RETAIL AUTOMATION</h4>
<!--<p>ELEGANT LIFE Smart Factory automation solution helps industries to implement advanced automation solutions in manufacturing process lines. Our advanced image analysis system helps you to precisely identify and separate defective components.</p> -->   

<p style="text-align:justify">Retail automation helps in increasing the store efficiency and customer foot fall. <b>ELEGANT LIFE Smart Retail</b> automation solution takes this a step further through advanced image analysis and a combination of sensors to efficiently manage store operations and to engage the customers by personalising the interactions and providing them targeted offers</p>               
                </div>
                </div>

      <div class="row text-center">
                      <div class="col-md-4">

	            <img class="img img-responsive" src="assets/img/home/cityautomation.jpg"/>
                              <h4 class="info-title">SMART CITY SOLUTIONS</h4>

<p style="text-align:justify">Public Infrastructure needs to be upgraded to meet the demands of the growing population. <b>ELEGANT LIFE Smart City</b> automation solution provides the perfect solution to efficiently monitor and manage energy consumption of public infrastructures and waste management in cities.</p>                            </div>
                  
                          <div class="col-md-4">

	            <img class="img img-responsive" src="assets/img/home/bfsi.jpg"/>
                              <h4 class="info-title">BANKING & FINANCIAL SERVICES</h4>
<!--<p>With the growth in urban population, demand for efficient management of public services is on the rise. Our ELEGANT LIFE Smart City automation solution helps Governments to smartly manage Public Infrastructure in cities with greater efficiency. It not only helps general public but also helps cities to become more user friendly & energy efficient.</p>  --> 

<p style="text-align:justify">We have partnered with a Top BFSI Services Company to provide technology solutions for all major banks in Indonesia in Retail, Corporate and Private Banking segments</p>                    
                  </div>
                          <div class="col-md-4">

	            <img class="img img-responsive" src="assets/img/home/education.jpg"/>
                              <h4 class="info-title">EDUCATION</h4>
        <!--<p>ELEGANT LIFE Smart Factory automation solution helps industries to implement advanced automation solutions in manufacturing process lines. Our advanced image analysis system helps you to precisely identify and separate defective components.</p> -->  


<p style="text-align:justify">Our education division is collaborating with a hugely successful kinder garten chain in south india to provide premium education content to kids in Indonesia.</p>                 
                          </div>
                        
  </div>

<br /> <br />

 
  
        </div>
  
      </div>
    </div>        
